/* Reset de Estilos (opcional, para remover estilos padrão do navegador) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do Corpo da Página */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Estilo do Cabeçalho */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilo dos Produtos */
.produto {
    background-color: #2d3bff;
    border: 1px solid #ffffff;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}

.produto h2 {
    font-size: 20px;
    margin: 10px 0;
}

.produto p {
    margin: 10px 0;
}

.produto button {
    background-color: #ff0000;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.produto button:hover {
    background-color: #f8f8fcea;
}

/* Estilo do Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilo da seção de Contato */
section {
    background-color: #fcfcfc;
    border: 1px solid #ff0000;
    padding: 20px;
    margin: 20px;
    text-align: justify;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section ul {
    list-style-type: none;
}

section li {
    margin-bottom: 10px;
}

section a {
    color: #007bff;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}
